<h1>aboutページ 後でこの部分削除</h1>

<h1>「ポイ活広場」とは？</h1>
<p>
  「ポイ活広場」は、ポイント還元率や使いやすさなど、各種ポイントサービスを評価し、比較するためのレビューサイトです。
</p>
<p>
  ポイントサービスの還元率や使いやすさは、それぞれ大きく異なります。情報が分散して比較しづらいという課題を解決するために、このサイトを作成しました。
</p>
<h2>このサイトが目指すもの</h2>
<ul>
  <li>ポイントサービスを効率よく比較できるプラットフォームを提供</li>
  <li>ユーザー同士がレビューや評価を通じて情報を共有</li>
  <li>初心者でもわかりやすいポイントサービスの選び方を提案</li>
</ul>
<p>
  「ポイ活広場」で、自分にぴったりのポイントサービスを見つけて、日々の生活をさらにお得にしましょう！
</p>