<h1><%= @user.name %> さんのマイページ</h1>

<div>
  <h2>投稿一覧</h2>

  <% if @posts.present? %>
    <ul>
      <% @posts.each do |post| %>
        <li><%= post.title %></li>
      <% end %>
    </ul>
  <% else %>
    <p>投稿がありません。</p>
  <% end %>

  <br>

  <div class="mt-3">
    <%= link_to '管理者用ユーザー一覧へ戻る', admin_users_path, class: "btn btn-secondary" %>
    <%= link_to "削除(退会)", admin_user_path(@user), method: :delete, data: { confirm: "本当に削除(退会)させますか？" }, class: "btn btn-danger ms-2" %>
  </div>
</div>
